<div class="row-fluid">
  <div data-gridster="gridsterOpts">
    <ul>
      <li data-gridster-item="note" data-ng-repeat="note in userNotes">
        <p><strong data-ng-bind-html="note.item.title"></strong>
        <span class="label secondary radius"
              data-ng-attr-title="{{note.item.saveDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}"
              data-am-time-ago="note.item.saveDate"></span> <span
            class="label" data-ng-bind="note.item.label" data-ng-show="note.item.label"></span></p>

        <p data-ng-bind-html="note.item.body" class="note-body"></p>

        <p><a ng-href="{{note.item.url}}">{{note.item.url}}</a></p>

        <div class="fixed-pos top-right">
          <ul class="button-group radius">
            <a href="" data-ng-click="edit(note)" title="Edit" class="button secondary tiny"><i class="fi-page-edit"></i></a>
            <a href="" data-ng-click="remove(note)" title="Remove" class="button secondary tiny"><i class="fi-x-circle"></i></a>
          </ul>
        </div>
        <div class="fixed-pos bottom-right" data-ng-show="note.item.longText">
          <a data-ng-href="#/note/{{note.item.id}}" class="button tiny warning">View full text</a>
        </div>
      </li>
    </ul>
  </div>
</div>
